{% extends "base.j2" %}

{% block js %}
  {{ super () }}

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


{% endblock %}

{% block container %}
  <div class="container post">
    <header class="entry-header">
      <div class="meta">
        <small><i class="fa fa-calendar"></i>{{resource.meta.created.strftime('%A %d %B %Y') }}</small>
        <small>
          <i class="fa fa-folder"></i>
          {% for tag in resource.meta.tags %}
            <a href="/blog/tags/{{tag}}.html">{{tag}}</a>{% if not loop.last -%},{%- endif %}
          {% endfor %}
        </small>

        <span>
          <i class="fa fa-user-plus"></i> Follow Me
        </span>
        <div class="addthis_horizontal_follow_toolbox"
             style="margin-top: -25px;
             margin-left: -25px;">
        </div>
      </div>
    </header>
    <div class="entry-content padding-bottom">
      {% mark article %}
      {% filter markdown -%}
        {% block article %} {% endblock %}
      {%- endfilter %}
      {% endmark %}
    </div>
<div id="disqus_thread"></div>




  </div>




{% endblock %}
 {% block lastBlock %}
 <script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://yangsh-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 <!-- Go to www.addthis.com/dashboard to customize your tools (google account)--> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59a64aa55f36701b"></script> 

 {% endblock %}
