{% extends "base.j2" %}

{% block js %}
  {{ super () }}

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


{% endblock %}

{% block container %}
  <div class="container post">
    <header class="entry-header">
      <div class="meta">
        <small><i class="fa fa-calendar"></i>{{resource.meta.created.strftime('%A %d %B %Y') }}</small>
        <small>
          <i class="fa fa-folder"></i>
          {% for tag in resource.meta.tags %}
            <a href="/blog/tags/{{tag}}.html">{{tag}}</a>{% if not loop.last -%},{%- endif %}
          {% endfor %}
        </small>

        <span>
          <i class="fa fa-user-plus"></i> Follow Me
        </span>
        <div class="addthis_horizontal_follow_toolbox"
             style="margin-top: -25px;
             margin-left: -25px;">
        </div>
      </div>
    </header>
    <div class="entry-content padding-bottom">
      {% mark article %}
      {% filter markdown -%}
        {% block article %} {% endblock %}
      {%- endfilter %}
      {% endmark %}
    </div>
<div id="disqus_thread"></div>




  </div>




{% endblock %}
